<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1>Book List</h1>

                        <br>
                        <a class="btn btn-primary" href="{{ url_for('add_book') }}">Add Book</a>
                                        </div>
                    <div class="card-body">
    <form method="POST" action="{{ url_for('add_book') }}">
        <label>Title:</label>
        <input class="form-control" type="text" name="title" required><br>
        <label>Author:</label>
        <input class="form-control" type="text" name="author" required><br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Back to List</a>

</div>
</div>
</div>
</div>
</div>
</body>
</html>
